## Домашняя работа

Необходимо собрать информацию о вакансиях на вводимую должность с сайта HH.
(используем input или через аргументы получаем должность)  
Приложение должно анализировать все страницы сайта. 
Получившийся список должен содержать в себе минимум:

1. Наименование вакансии.
2. Предлагаемую зарплату (разносим в три поля: минимальная и максимальная и валюта. цифры преобразуем к цифрам).
3. Ссылку на саму вакансию.
4. Сайт, откуда собрана вакансия.

По желанию можно добавить ещё параметры вакансии (например, работодателя и расположение). 

Общий результат можно вывести с помощью dataFrame через pandas. 
Сохраните в json либо csv.

In [1]:
#!pip install bs4
#!pip install lxml

In [2]:
import requests
import json
import time
import os
import re

from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
# Функция получения поисковой страницы со списком вакансий
def getPage(page = 0):

    # Параметры GET-запроса
    params = {
        'text': 'NAME:scientist', # название специальности
        'country': 1,
        'area': 113, # Поиск по России
        'page': page, # Номер страницы результатов поиска
        'per_page': 100 # Кол-во вакансий на странице
    }
    
    # Получаем ответ на запрос поиска
    req = requests.get('https://api.hh.ru/vacancies', params)
    data = req.json()
    return data

In [4]:
# Считываем первые 2000 вакансий, т.к. у API есть ограничение на количество вакансий при поиске
for page in range(0, 20):
    
    # Получаем содержание поисковой страницы 
    jsb = getPage(page)
    
    # имя сохраняемого файла в папке Result
    FileName = './Result/{}.json'.format(len(os.listdir('./Result')))
    
    # Выводим ответ запроса в файл с номером страницы поиска
    with open(FileName, "w", encoding='utf-8') as f:
        f.write(json.dumps(jsb, ensure_ascii=False))
    
    # Проверка на последнюю страницу, если вакансий меньше 2000
    if (jsb['pages'] - page) <= 1:
        break
    
    # Задержка 0.3 с, чтобы не нагружать сервисы hh
    time.sleep(0.3)

In [5]:
# Функция контроля информации у тегов
def NotNan(param, isnone):
    if param != None:
        param = param.text
    else:
        param = isnone
    return param

In [6]:
# Функция сбора данных с веб-страницы i-ой вакансии на BeautifulSoup

def join_data(url):
    headers = {'User-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)', 'Authorization':'Basic cG9zdG1hbjpwYXNzd29yZA=='} 
    req = requests.get(url, headers=headers)

    soup = bs(req.text,'html.parser')
    
    # Название специальности
    vacancy = soup.find("h1", {"data-qa": "vacancy-title"})
    vacancy = NotNan(vacancy, '0')
        
    # Получение строки с условиями по зарплате
    data = soup.find("span", {"data-qa": "vacancy-salary-compensation-type-net"})

    # Вычленяем данные зарплаты в виде списка, где позиция:
    # [0 - минимум;  1 - максимум;  2 - валюта]
    data = NotNan(data, [0, 0, '-'])    # Если нет числовых значений, присваиваем "0" 
    
    while type(data) != list:
        data = data.split(' ')

        salary = []

        # Вычленяем числовое значение и добавляем в список
        for i in data:
            i = re.sub("\D", "", i)
            if i.isdigit():
                salary.append(i)

        # При неполных данных дублируем min-значение            
        s = 0
        for j in salary:
            if j.isdigit():
                s += 1
        if s > 1:
            salary.append(data[4])
        else:
            salary.append(salary[0])
            salary.append(data[2])
    else:
        salary = data

    # Получение данных о работодателе:
    #   Имя
    Employer_name = soup.find("span", {"data-qa": "bloko-header-2"})
    Employer_name = NotNan(Employer_name, '-')
    Employer_name.replace(u'\xa0', ' ')

    #   Ссылка
    hh = 'https://hh.ru'
    url2 = soup.find("a", {"data-qa": "vacancy-company-name"})
    Employer_url = hh + url2.get('href')
    
    #   Город
    Employer_city = soup.find("p", {"data-qa": "vacancy-view-location"})
    Employer_city = NotNan(Employer_city, '-')
    
    # Сбор сведений в таблицу
    Vacancy = pd.DataFrame({
        'Vacancy_name': [vacancy],
        'Vacancy_url': [url],
        'Salary_min': [salary[0]],
        'Salary_max': [salary[1]],
        'Salary_cur': [salary[2]],
        'Employer_name': [Employer_name],
        'Employer_url': [Employer_url],
        'Employer_city': [Employer_city]})

    return Vacancy

In [8]:
df = pd.DataFrame()

# Перебор файлов со страницами найденных вакансий
for flist in os.listdir('./Result'):
    
    if flist.find('.json') != -1:
        with open('./Result/{}'.format(flist), encoding='utf8') as f:
            jsonTxt = f.read()

    jsb = json.loads(jsonTxt)
    
    # Обрабатываем список вакансий
    for n in jsb['items']:
        
        # Обращаемся к веб-странице и получаем информацию по конкретной вакансии
        url = 'https://hh.ru/vacancy/{}'.format(n['id'])
        df = pd.concat([df, join_data(url)])
        time.sleep(0.25) 
        
        # Выводим все результаты в csv-файл
        df.to_csv('./Result/vacancies.csv', index= False, sep=';', encoding='utf-8')

print('Вакансии собраны')

Вакансии собраны

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 0 to 0
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Vacancy_name   346 non-null    object
 1   Vacancy_url    346 non-null    object
 2   Salary_min     346 non-null    object
 3   Salary_max     346 non-null    object
 4   Salary_cur     346 non-null    object
 5   Employer_name  346 non-null    object
 6   Employer_url   346 non-null    object
 7   Employer_city  346 non-null    object
dtypes: object(8)
memory usage: 24.3+ KB

In [10]:
df.head()

,Vacancy_name,Vacancy_url,Salary_min,Salary_max,Salary_cur,Employer_name,Employer_url,Employer_city
0,Junior Data Scientist (стажер),https://hh.ru/vacancy/83902101,от,50 000,₽,ООО А17,https://hh.ru/employer/4768936?hhtmFrom=vacancy,Москва
0,Junior Data Scientist (Стажер),https://hh.ru/vacancy/83678534,0,0,-,Центр финансовых технологий,https://hh.ru/employer/8550?hhtmFrom=vacancy,Санкт-Петербург
0,Программист Python/Data Scientist (junior / mi...,https://hh.ru/vacancy/83676636,от,70 000,до,ООО Апэрбот,https://hh.ru/employer/4602050?hhtmFrom=vacancy,Новосибирск
0,Junior Data scientist (Аналитик),https://hh.ru/vacancy/81862798,от,60 000,₽,ООО Займиго МФК,https://hh.ru/employer/1457854?hhtmFrom=vacancy,-
0,Программист - Data Scientist,https://hh.ru/vacancy/83744616,от,70 000,до,ООО АКСАЛИТ Софт,https://hh.ru/employer/3211436?hhtmFrom=vacancy,-

In [11]:
df.describe()

,Vacancy_name,Vacancy_url,Salary_min,Salary_max,Salary_cur,Employer_name,Employer_url,Employer_city
count,346,346,346,346,346,346,346,346
unique,228,346,3,18,3,173,173,29
top,Data Scientist,https://hh.ru/vacancy/83902101,0,0,-,Сбер для экспертов,https://hh.ru/employer/3529?dpt=3529-3529-prof...,Москва
freq,52,1,301,301,301,37,37,157